<body class="bluebg">
<div class="container">
	<div class="row mtop10 mbottom10">
		<div class="span3">
			<div class="basket"><img src="/assets/basket.png" width="40px"> <strong id="basket">0</strong> ingredients</div>
		</div>
		<div class="span9 right">
			<button id="category_button" class="btn btn-large btn-red">Choose next »</button>
			<%= button_to( "See Your Recipe", "/game/results", class: 'btn btn-large btn-red results_button results_inactive', method: :get ) %>
		</div>
	</div>
	<div class="whitebg mbottom20">
	<div class="active" id="category_1">
		<%= render partial: "categories/category", locals: { category: @category = Category.find(1) } %>
	</div>
	<div class="inactive" id="category_2">
		<%= render partial: "categories/category", locals: { category: @category = Category.find(2) } %>
	</div>
	<div class="inactive" id="category_3">
		<%= render partial: "categories/category", locals: { category: @category = Category.find(3) } %>
	</div>
	<div class="inactive" id="final_recipe">
		<%= @recipe %>
		<%= render partial: "results", locals: { recipe: @recipe} %>
	</div>
</div>
</div>
</body>

